<%- include('header'); -%>
<main class="container">
  <div class="row g-5">
    <div class="col-md-8 offset-md-2">
      <form method="POST" action="/update">
          <input type="hidden" name="id" value="<%=post.id%>">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Post title</label>
          <input type="text" required class="form-control" id="exampleFormControlInput1" placeholder="Title" name = "title" value = "<%=post.title%>">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Text</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" name = "text" required><%=post.text%></textarea>
        </div>

        <div class="float-end">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>

</main>

<%- include('footer'); -%>
