<%- include('header'); -%>
<main class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Continue reading...</a></p>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">

      <%  if (posts.length > 0) { %>
        <% posts.forEach(function(post){ %>
          <%- include ('modal', { post: post }); -%>
            <article class="blog-post">
              <h2 class="display-5 link-body-emphasis mb-1">
                <a href = "/post/<%=post.id%>"><%= post.title %></a>
              </h2>
              <p class="blog-post-meta"><%=post.createdAt.toLocaleString()%>
                <a href="/post/<%=post.id%>/edit">Edit</a>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal<%=post.id%>">
                  Delete
                </button>

                </p>
              <p><%=post.text %></p>
            </article>
        <%});%>

        <nav class="blog-pagination" aria-label="Pagination">
          <% if (page>=maxPage-1){ %>
            <a class="btn btn-outline-secondary rounded-pill disabled"  >Older</a>
          <% } else { %>
            <a class="btn btn-outline-primary rounded-pill"  href="<%=utils.withNewParams(url, {page:page+1})%>">Older</a>
          <% } %>
          <% if (page<=0){ %>
            <a class="btn btn-outline-secondary rounded-pill disabled" >Newer</a>
          <% } else { %>
            <a class="btn btn-outline-primary rounded-pill" href="<%=utils.withNewParams(url, {page:page-1})%>" aria-disabled="true">Newer</a>
          <% } %>
        </nav>

      <% } else { %>
        <p> No posts found </p>
      <% }; %>

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-body-tertiary rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
        </div>
      </div>
    </div>
  </div>

</main>

<%- include('footer'); -%>
