<%- include('header'); -%>
<main class="container">

  <div class="row g-5">
    <div class="col-md-8 offset-md-2">
      <article class="blog-post">
        <%- include ('modal', { post: post }); -%>
        <h2 class="display-5 link-body-emphasis mb-1">
          <button type="button" class="btn btn-primary"  onclick="history.back()" > < </button>
          <%=post.title%>
        </h2>
        <p class="blog-post-meta">
          <%=post.createdAt.toLocaleString()%>
          <a href="/post/<%=post.id%>/edit">Edit</a>
          <a href="" data-bs-toggle="modal" data-bs-target="#deleteModal<%=post.id%>">
            Delete
          </a>
        </p>

        <p><%=post.text%></p>

      </article>
    </div>
  </div>

</main>

<%- include('footer'); -%>
