<%- include('header'); -%>
<main class="container">




  <div class="row g-5">
    <div class="col-md-8 offset-md-2">
      <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1"><%=post.title%></h2>
        <p class="blog-post-meta">
          <%=post.createdAt.toLocaleString()%>
          <a href="/post/<%=post.id%>/edit">Edit</a>
          <a href="/post/<%=post.id%>/delete">Delete</a>
        </p>

        <p><%=post.text%></p>

      </article>
    </div>
  </div>

</main>

<%- include('footer'); -%>
